[bans]
multiple-versions = "warn"
wildcards = 'deny'
deny = [
    { crate = "openssl", use-instead = "rustls" },
    { crate = "openssl-sys", use-instead = "rustls" },
    { crate = "git2", use-instead = "gix" },
]

[graph]
# cargo-deny is really only ever intended to run on the "normal" tier-1 targets
targets = [
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-pc-windows-msvc",
]

[advisories]
version = 2
ignore = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = []

[licenses]
version = 2
unused-allowed-license = "deny"
# We want really high confidence when inferring licenses from text
confidence-threshold = 0.93
allow = [
    "MIT",
    "Apache-2.0",
    "Unicode-3.0",
    "MPL-2.0",
    "Zlib",
    "BSD-3-Clause",
    "ISC",
    "OpenSSL",
]
exceptions = []

